body {
     margin: 0;
     background-color: darkcyan;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

#gameBoard {
     background-color: lightblue;
     height: 80%;
     width: 80%;
}

#gameBoard section {
     display: flex;
     justify-self: center;
     align-items: center;
}

/* PLAYER 1 SECTION START */
#player1 {
     background-color: lightgreen;
     height: 40%;
     width: 100%;
     border: 5px solid black;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
     padding-left: 20px;
     padding-right: 20px;
}
/* PLAYER 1 SECTION END */

#attackArrows {
     background-color: lightgoldenrodyellow;
     height: 20%;
     width: 100%;
     border: 5px solid black;
     box-sizing: border-box;
}

/* PLAYER 2 SECTION START */
#player2 {
     background-color: lightcoral;
     height: 40%;
     width: 100%;
     border: 5px solid black;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
     padding-left: 20px;
     padding-right: 20px;

}
/* PLAYER 1 SECTION END */



.cardSlot {
     background-color: lightgrey;
     height: 250px;
     width: 150px;
}

.cardImg {
     background-color: transparent;
     height: auto;
     width: 100%;
     
}

.avatar {
     background-color: aquamarine;
     height: 250px;
     width: 150px;
}